@charset "UTF-8";

/* ESTILO PARA TELA*/

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: lightgray;
    text-align: center;
}

header > nav{
    text-align: left;
}